.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
*
{
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
li
{
    font-family: cinzel decorative;;
}

.menu > ul{
    display: inline-block;
    list-style-type: none;
    margin: 0% auto;
}

.menu
{
    width:100%;
	background-color:black;
    text-align:center;
}
.menu li
{
	margin:0%;
	list-style:none;
	text-align:left;
}
.menu a
{
	transition:all linear 0.3s;
    color:white;
	background-color:black;
	text-decoration:none;
}
.menu > ul > li 
{
    display:inline-block;
    position:relative;
    font-size:20px;
	
}
.menu > ul > li > a 
{
    padding:10px 40px;
    display:inline-block;
	
    
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a
 {
    background-color: #333333;
}
.menu li:hover .sub-menu 
{
    z-index:1;
    display:block;
}
.sub-menu {
    width:162%;
    padding:0% 0%;
    position:absolute;
    top:100%;
    left:0%;
    display:none;
    transition: linear 0.15s;
    background:transparent;
}
 
.sub-menu li {
    display:block;
    font-size:16;
	color:white;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background-color: #333333;
}

body
{
    background-size:cover;
    
}
#div1
{
    
    height:100%;
    margin-left: 10%;
    margin-right: 10%;
}
header
{
     background-color: #ffffff;
     padding: 7px;
}
#menu
{
    background-color:dimgray;
    color: lightgrey;
}
a
{
    text-decoration: none;  
    color: #ffffff;
}
table
{
    font-family: cinzel decorative;
    border: 1px solid black;
}
table th
{
    background-color: whitesmoke;
    border:1px solid black;
}
th
{
    border-radius: 0px;s
}
table tr td
{
    border-radius: 0px;
    border: 1px solid black;
}
h1
{
    font-family: cinzel decorative;
}
h4

{
    font-family: cinzel;
}
td
{
    border-collapse: collapse;
}

h3
{
    color: black;
}
footer
{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
